#dropdownMenu {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  width: auto; /* Set the width to control how many items fit horizontally */
  margin-top: 10px;
}

.carousel-item img {
  width: auto;
  height: 500px;
  object-fit: cover;
  margin-bottom: 80px;
}

.card {
  margin-top: 20px;
  padding: 20px; /* Adjusted padding inside the card */
  border-radius: 10px; /* Rounded corners for a smoother look */
  display: flex;
  flex-direction: column; /* Ensure vertical stacking of content */
  align-items: center; /* Center-align the content */
  text-align: center; /* Center-align text */
  gap: 15px; /* Space between elements inside the card */
}

.divider {
      width: 1px;
      height: 30px;
      background-color: #170404;
  }

.gambar-kecil img{
  width: 300px;
}

a{
  text-decoration: none;
  color: black;
}


.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
